package templates

templ Index(email string) {
	<div class="text-2xl text-slate-100 font-mono p-4">
		Welcome { email }
	</div>
}

templ GuestIndex() {
	<div class="text-2xl text-slate-100 font-mono p-4">
		Welcome my lovely annonymous Guest. Please Log in!
	</div>
}
