package templates

templ Products() {
	<form action="/checkout-session" method="POST">
		<button
			id="checkout-button"
			class="bg-black text-white font-bold py-3 px-6 rounded-lg shadow-lg hover:bg-gray-800 transition duration-300"
			type="submit"
		>
			Buy Hot Sauce
		</button>
	</form>
}
