package templates

templ SuccessfulPayment() {
	<div class="w-full p-4">
		<p class="font-mono text-2xl text-slate-100">
			You did you you beautiful Ape, you did it!!! Thank you for your payment
		</p>
	</div>
}
